* {
	margin: 0;
	padding: 0;
	/*font-family: sans-serif;*/
	box-sizing: border-box;
}
div {
  margin: 20px;
  position: relative;
  text-align: center;
}
div::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  background-color: green;
  position: absolute;
}
div::after {
  content: 'Содержимое';
  line-height: 80px;
  color: white;
  height: 100px;
  width: 490px;
  display: block;
  position: absolute;
  background-color: green;
}
.christ::before {
  background-color: green;
  width: 480px;
  height: 110px;
  left: 5px;
  top: -5px;
}
